<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Stroški</h1>
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Podkategorija</th>
                <th scope="col">Strošek</th>
                <th scope="col">Plačnik</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < expenses.length; i++) { %> 
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><a href="/expenses/<%=expenses[i].id%>"><%=expenses[i].category.toUpperCase() %></a></td>
                <td><%=expenses[i].subCategory.toUpperCase() %></td>
                <td><%=expenses[i].cost %> €</td>
                <td><%=expenses[i].payer %></td>
                
            </tr>
            <% } %> 
        </tbody>
    </table>
</div>

