<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <h1>Stroški</h1>
    </div>

    <div class="col-md-4 mb-4">
        <form action="/expenses/filter" method="POST" id="addNewExpense">
            <label for="dateFrom">Dan Plačila - od:</label>
            <div class="input-group mb-3">
                <input
                    id="dateFrom"
                    name="dateFrom"
                    type="date"
                    class="form-control"
                    autocomplete
                    value="<%= filter.from %>"
                />
            </div>

            <label for="dateTo">Dan Plačila - do:</label>
            <div class="input-group mb-3">
                <input
                    id="dateTo"
                    name="dateTo"
                    type="date"
                    class="form-control"
                    autocomplete
                    value="<%= filter.to %>"
                />
            </div>

            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-secondary">Filtriraj</button>
            </div>
        </form>
    </div>

    <div class="col-md-8 mb-4">
        <div class="card">
            <div class="card-body">
                <p class="class display-6">Obračun</p>
                <% for (user of comparison.usersObject) { %>
                <div>
                    <h5 class="lead">
                        <b><%= user.name %></b>: <%= user.sumOfExpenses%> €
                    </h5>
                </div>
                <% } %>
                <h4>Skupaj: <%= sum %> €</h4>
                <h3 class="lead"><%= comparison.textOutput%></h3>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th class="d-none d-sm-block" scope="col">#</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Kategorija</th>
                    <th scope="col">Strošek</th>
                    <th class="d-none d-sm-block" scope="col">Plačnik</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < expenses.length; i++) { %>
                <tr>
                    <th class="d-none d-sm-block" scope="row"><%= i+1 %></th>
                    <td>
                        <a href="/expenses/<%= expenses[i].id %>">
                            <%=expenses[i].payDate.toLocaleDateString('sl-SI')
                            %></a
                        >
                    </td>
                    <td><%=expenses[i].categoryLabel %></td>
                    <td><%=expenses[i].cost %> €</td>
                    <td class="d-none d-sm-block">
                        <%=expenses[i].payer.username %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
