<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Stroški</h1>

    <div class="col-md-4">
        <form action="/expenses/filter" method="POST" id="addNewExpense">
            <label for="dateFrom">Dan Plačila - od:</label>
            <div class="input-group mb-3">
                <input
                    id="dateFrom"
                    name="dateFrom"
                    type="date"
                    class="form-control"
                    autocomplete
                    value="<%= filter.from %>"
                />
            </div>

            <label for="dateTo">Dan Plačila - do:</label>
            <div class="input-group mb-3">
                <input
                    id="dateTo"
                    name="dateTo"
                    type="date"
                    class="form-control"
                    autocomplete
                    value="<%= filter.to %>"
                />
            </div>

            <div class="d-grid col-12 mx-auto mb-4">
                <button class="btn btn-secondary">Filtriraj</button>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h3>Skupaj: <%=sum%> €</h3>
    </div>

    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Strošek</th>
                <th scope="col">Plačnik</th>
                <th>Podrobnosti</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < expenses.length; i++) { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%=expenses[i].categoryLabel %></td>
                <td><%=expenses[i].cost %> €</td>
                <td><%=expenses[i].payer.username %></td>
                <td>
                    <a href="/expenses/<%= expenses[i].id %>"> 💰 </a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
