<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <h1>
            <%= String(filter.share).toLowerCase() === 'true'? "Skupni " :
            "Moji"%> stroški
        </h1>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <form
                    action="/expenses/filter"
                    method="POST"
                    id="addNewExpense"
                >
                    <label for="dateFrom">Dan Plačila - od:</label>
                    <div class="input-group mb-3">
                        <input
                            id="dateFrom"
                            name="dateFrom"
                            type="date"
                            class="form-control"
                            autocomplete
                            value="<%= filter.from %>"
                        />
                    </div>

                    <label for="dateTo">Dan Plačila - do:</label>
                    <div class="input-group mb-3">
                        <input
                            id="dateTo"
                            name="dateTo"
                            type="date"
                            class="form-control"
                            autocomplete
                            value="<%= filter.to %>"
                        />
                        <input
                            id="share"
                            name="share"
                            type="hidden"
                            class="form-control"
                            value="<%= filter.share %>"
                        />
                    </div>

                    <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-secondary">Filtriraj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <p class="display-6">Obračun</p>
                <hr />
                <% for (user of comparison.expensesByUser) { %>
                <div>
                    <h5 class="lead">
                        <b><%= user.name %></b>: €<%=
                        user.sumOfPayments.toFixed(2)%>
                    </h5>
                </div>
                <% } %> <% if (String(filter.share).toLowerCase() === 'true') {
                %>
                <hr />
                <h4>Skupaj: €<%= sum.toFixed(2) %></h4>
                <h3 class="lead text-success"><%= comparison.message%></h3>
                <% } %>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="myChartCategories"></canvas>
            </div>
        </div>
    </div>
    <% if (String(filter.share).toLowerCase() === 'true') { %>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="myChartUsers"></canvas>
            </div>
        </div>
    </div>
    <% } %>

    <% for (category of comparison.expensesByCategory) { %>
    <div class="col-md-4 table-responsive">
        <table class="table table-hover table-borderless">
            <thead class="table-light">
                <tr>
                    <th colspan="2" class="text-left">
                        <%= category.name.toUpperCase() %>
                    </th>

                    <th colspan="2" class="text-right">
                        €<%= category.sumOfPayments.toFixed(2) %>
                    </th>
                </tr>
            </thead>
            <tbody class="">
                <% for (expense of expenses) { %> <%
                if(expense.category.parentCategory.id === category.id ||
                expense.category.id === category.id) { %>
                <tr>
                    <td class="align-middle" scope="row">
                        <div>
                            <%=expense.payDate.toLocaleDateString('de-CH',{year:"2-digit",
                            month: "2-digit", day:"2-digit"})%>
                        </div>
                    </td>
                    <td class="align-middle">
                        <div><%=expense.category.name %></div>
                    </td>
                    <td class="align-middle">
                        <div>
                            <a href="/expenses/<%= expense.id %>"
                                >€<%=expense.cost.toFixed(2) %></a
                            >
                        </div>
                    </td>
                    <td class="p-1 d-flex justify-content-center">
                        <%- include('../partials/name-tag', { payers: expense.payers }); %>
                    </td>
                </tr>
                <% } %> <% } %>
            </tbody>
        </table>
    </div>
    <% } %>
</div>
<script>
    const expenses = <%- JSON.stringify(expenses) %>
    const expensesByCategory = <%- JSON.stringify(comparison.expensesByCategory) %>
    const expensesByUser = <%- JSON.stringify(comparison.expensesByUser) %>
</script>
<script src="/javascripts/chart.js"></script>
