<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <h1>Iskanje</h1>
    </div>
    <div class="col-md-2 mb-4">
        <form action="/search" method="POST" id="addNewExpense">
            <input
                type="checkbox"
                class="btn-check d-grid col-12 mx-auto"
                id="btn-check"
                autocomplete="off"
                data-bs-toggle="collapse"
                data-bs-target="#collapseDate"
                aria-expanded="false"
                aria-controls="collapseDate"
                name="filteredByDate"
            />
            <label
                class="btn btn-outline-secondary d-grid col-12 mx-auto my-3"
                for="btn-check"
                >Izberi obdobje</label
            >
            <div class="collapse mt-3" id="collapseDate">
                <div class="card card-body">
                    <label for="dateFrom">Datum - od:</label>
                    <div class="input-group mb-3">
                        <input
                            id="dateFrom"
                            name="dateFrom"
                            type="date"
                            class="form-control"
                            autocomplete
                            value="<%= from %>"
                        />
                    </div>

                    <label for="dateTo">Datum - do:</label>
                    <div class="input-group mb-3">
                        <input
                            id="dateTo"
                            name="dateTo"
                            type="date"
                            class="form-control"
                            autocomplete
                            value="<%= to %>"
                        />
                    </div>
                </div>
            </div>
            <input
                type="checkbox"
                class="btn-check d-grid col-12 mx-auto"
                id="btn-check1"
                autocomplete="off"
                data-bs-toggle="collapse"
                data-bs-target="#collapseCategories"
                aria-expanded="false"
                aria-controls="collapseCategories"
                name="filteredByCategory"
            />
            <label
                class="btn btn-outline-secondary d-grid col-12 mx-auto my-3"
                for="btn-check1"
                >Izberi kategorijo</label
            >
            <div class="collapse my-3" id="collapseCategories">
                <div class="card card-body">
                    <div class="mb-3">
                        <label for="category" class="form-label">Kategorija</label>
                        <select class="form-select" id="category" name="category">
                            <option selected disabled value="">Izberi...</option>
                            <% for(let category of categoriesAndUsers.categories){ %>
                            <option value="<%=category.name%>">
                                <%=category.name%>
                            </option>
                            <% } %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="subCategory" class="form-label"
                            >Podkategorija</label
                        >
                        <select multiple size ="5" class="form-select" id="subCategory" name="subCategory[]">
                            <% for(let category of categoriesAndUsers.categories){ %> 
                                <% for(let subCategory of category.subCategories){ %>
                                    <option value="<%=subCategory.name%>">
                                        <%=subCategory.name%>
                                    </option>
                                <% } %> 
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-outline-success">Išči</button>
            </div>
        </form>
    </div>
    <% if (context.date) { %> 
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <% if (context.category && context.subCategory) { %> 
                    <p class="display-6 lead "><kbd><%=context.category%></kbd></p> 
                    <% for (category of context.subCategory) {%> 
                    <p class="display-7 ">- <%=category%></p>
                    <% } %> 
                    <% }else if (context.category && !context.subCategory) { %> 
                    <p class="display-6 lead"><kbd><%=context.category%></kbd></p>
                    <% }else if (!context.category && context.subCategory) {%>
                    <p class="display-6 lead"><kbd><var><%=context.subCategory%></var></kbd></p>
                    <% } %>
                    <hr>
                    <% if(context.date.filteredByDate === undefined) {%>
                    <p class="display-7">Celotno časovno obdobje</b></p>
                    <%}else{ %> 
                    <p class="display-7">Od: <b><%=`${context.date.dateFrom}`%></b></p>
                    <p class="display-7">Do: <b><%=`${context.date.dateTo}`%></b></p>
                    <% } %> 
                </div>
                <hr>
                <% if (context.sum) { %> 
                <h4><b>SUM: <%= context.sum %> €</b></h4>
                <% } %> 
            </div>        
        </div>
    </div>
    <% } %> 
    <% if(context.expenses.length > 0) { %> 
    <div class="col-md-12 table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th class="col" scope="col">#</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Kategorija</th>
                    <th scope="col">Strošek</th>
                    <th class="col" scope="col">Plačnik</th>
                </tr>
            </thead>
            <tbody>
                <% if (true) { %> 
                    <% for (let i = 0; i < context.expenses.length; i++) { %>
                    <tr>
                        <td class="col" scope="row"><%= i+1 %></th>
                        <td><%=context.expenses[i].payDate.toLocaleDateString('de-CH',{year:"2-digit",month: "2-digit", day:"2-digit"})%></td>
                        <td><%=context.expenses[i].category[0].name %></td>
                        <td>
                            <a href="/expenses/<%= context.expenses[i]._id %>"
                                >€<%=context.expenses[i].cost.toFixed(2) %></a
                                >
                            </td>
                        <td class="col"><%=context.expenses[i].payer[0].nickName %></td>
                    </tr>
                    <% } %>
                <% } %> 
            </tbody>
        </table>
    </div>
    <% } %> 
</div>
<script>
    const categories = <%- JSON.stringify(categoriesAndUsers.categories) %>
    const expenses = <%- JSON.stringify(context.expenses) %>
    const context = <%- JSON.stringify(context) %>
</script>
<script src="/javascripts/searchSubCats.js"></script>
<script src="/javascripts/reportChart.js"></script>
