<% layout('layouts/boilerplate')%>
<div class="card" style="width: auto">
    <div class="card-body">
        <h5 class="card-title"><%= expenses.categoryLabel%></h5>
        <p class="card-text"><%= expenses.description%></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Znesek: <%= expenses.cost%> €</li>
        <li class="list-group-item">Plačnik: <%= expenses.payer.username%></li>
        <li class="list-group-item">
            Dan nakupa: <%= expenses.payDate.toLocaleDateString('sl-SI') %>
        </li>
        <li class="list-group-item">
            Strošek deljen: <%= expenses.shared ? "DA":"NE"%>
        </li>
    </ul>
    <div class="card-body">
        <a href="/expenses" class="btn btn-primary"> Vsi stroški </a>
        <a href="/expenses/<%= expenses._id%>/edit" class="btn btn-info"
            >Uredi
        </a>
        <form
            class="d-inline"
            action="/expenses/<%=expenses._id%>?_method=DELETE"
            method="POST"
        >
            <button class="btn btn-danger">Izbriši</button>
        </form>
    </div>
</div>
