<% layout('layouts/boilerplate')%>
<div class="card" style="width: auto">
    <div class="card-body">
        <h5 class="card-title"><%= expense.categoryLabel%></h5>
        <p class="card-text"><%= expense.description%></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Znesek: €<%= expense.cost.toFixed(2)%></li>
        <li class="list-group-item">Plačnik: <%= expense.payer.username%></li>
        <li class="list-group-item">
            Dan nakupa: <%=
            expense.payDate.toLocaleDateString('de-CH',{year:"2-digit", month:
            "2-digit", day:"2-digit"}) %>
        </li>
        <li class="list-group-item">
            Strošek deljen: <%= expense.shared ? "DA":"NE"%>
        </li>
    </ul>
    <form
        class="d-inline"
        action="/expenses/<%=expense._id%>?_method=DELETE"
        method="POST"
    >
        <div class="m-2 d-grid gap-2 d-md-block">
            <a href="/expenses" class="btn btn-outline-secondary">
                Vsi stroški
            </a>
            <a href="/myexpenses" class="btn btn-outline-secondary">
                Moji stroški
            </a>
            <a
                href="/expenses/<%= expense._id%>/edit"
                class="btn btn-outline-secondary"
                >Uredi
            </a>

            <button class="btn btn-warning" type="submit">Izbriši</button>
        </div>
    </form>
</div>
