<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12">
        <h1>Whiskey</h1>
    </div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th class="d-none d-sm-block" scope="col">#</th>
                    <th scope="col">Ime</th>
                    <th scope="col">Regija / Država</th>
                    <th class="d-none d-sm-block" scope="col">Datum nakupa</th>
                    <th scope="col">Starost</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < whiskies.length; i++) { %>
                <tr>
                    <th class="d-none d-sm-block" scope="row"><%= i+1 %></th>
                    <td>
                        <a href="/whiskies/<%= whiskies[i].id%>">
                            <%= whiskies[i].name%></a
                        >
                    </td>
                    <td><%= whiskies[i].region%></td>
                    <td class="d-none d-sm-block">
                        <%=whiskies[i].dateOfPurchase.toLocaleDateString('sl-SI')%>
                    </td>
                    <td><%=whiskies[i].age%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
