<% layout('layouts/boilerplate')%>
<div class="row">
    <h1>Uredi kategorijo</h1>
    <div class="col-md-6">
        <form
            action="/categories/<%=id%>?_method=PUT"
            class="validated-form"
            method="POST"
            id="updateAddCat"
            novalidate
        >
            <div class="row">
                <div class="mb-3 col-8">
                    <label for="category" class="form-label">Kategorija</label>
                    <div class="input-group">
                        <input
                            id="category"
                            name="name"
                            type="text"
                            class="form-control"
                            value="<%=categories.parentCategory[0].name%>"
                            required
                        />
                        <div class="invalid-feedback">
                            Kategorija je obvezna.
                        </div>
                    </div>
                </div>
                <div class="mb-3 ps-4 col-2">
                    <label for="exampleColorInput" class="form-label"
                        >Barva</label
                    >
                    <input
                        type="color"
                        class="form-control form-control-color"
                        id="exampleColorInput"
                        value="<%= categories.parentCategory[0].color %>"
                        title="Izberi barvo kategorije"
                        name="color"
                        required
                    />
                    <input
                        type="hidden"
                        class="form-control form-control-color"
                        id="exampleColorInput"
                        value="<%= categories.parentCategory[0].id %>"
                        title="Izberi barvo kategorije"
                        name="id"
                        required
                    />
                    <div class="invalid-feedback">
                        Barva glavne kategorije je obvezna.
                    </div>
                </div>
                <div class="mb-3 pe-4 col-2">
                    <label for="flexSwitchCheckDefault" class="form-label"
                        >Aktivna</label
                    >
                    <div class="mt-2 mx-2 px-2">
                        <div class="form-check form-switch">
                            <input 
                                type="checkbox" 
                                class="form-check-input form-control" 
                                id="flexSwitchCheckParentCat" 
                                <% if (categories.parentCategory[0].active) { %> checked <% } %>
                                autocomplete="off"
                                role="switch"
                                name="active"
                            />
                            <input
                                type="hidden"
                                class="form-check-input form-control"
                                id="flexSwitchCheckParentCatHidden"
                                value=off
                                name="active"
                                required
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="SubCategories" class="form-label"
                    >Podkategorije:</label
                >
                <button
                    id="addSubCategory"
                    type="button"
                    class="btn btn-outline-success ms-2 mb-2"
                >
                    <b>+</b>
                </button>
                <button
                    id="deleteSubCategory"
                    type="button"
                    class="btn btn-outline-warning mb-2"
                >
                    <b>-</b>
                </button>
                <div id="subCatBody" class="row">
                    <% for (let i = 0; i < categories.categories.length; i++) {%>
                    <div id="subcategory" class="input-group my-3">
                        <input
                            name="subCategories[]"
                            type="text"
                            class="form-control"
                            value="<%= categories.categories[i].name %>"
                            required
                        />
                        <input
                            name="subCategoriesId[]"
                            type="hidden"
                            class="form-control"
                            value="<%= categories.categories[i].id %>"
                            required
                        />
                        <div class="mt-2 mx-2 px-2">
                            <div class="form-check form-switch col-2">
                                <input 
                                    class="form-check-input form-control" 
                                    type="checkbox" 
                                    id="flexSwitchCheckSubCat" 
                                    <% if (categories.categories[i].active) { %> checked <% } %>
                                    autocomplete="off"
                                    role="switch"
                                    name="subCategoriesActive"
                                />
                                <input
                                    type="hidden"
                                    class="form-check-input form-control"
                                    id="flexSwitchCheckSubCatHidden"
                                    value=off
                                    name="subCategoriesActive"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="d-grid col-12 mx-auto">
                <button class="btn btn-secondary">Uredi</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascripts/addCats.js"></script>
