<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-12 mb-3">
        <h1>Trajniki</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% for(let debit of debits){ %>
            <div class="<%= debit.enable ? "bg-success":"bg-light" %> card <%= debit.enable ? "text-white":"" %> mb-3" style="max-width: 18rem;">
                <div class="d-flex p-2 align-items-center justify-content-between card-header">Trajnik <%= debit.enable ? "aktiven":"pasiven"%>            <a
                class="btn btn-light btn-sm"
                href="/debits/<%= debit.id %>/edit"
                >Uredi</a
            ></div>
                <div class="card-body">
                    <h5 class="card-title"><%=`${debit.category.parentCategory.name} -
                        ${debit.category.name}`%></h5>
                    <p class="card-text"><%=`Trajnik v višini ${debit.cost} €. Izvede se vsakega ${debit.debitInputDayInMonth}. v mescu. `%></p>
                </div>
            </div>
            <div class="mb-4"></div>
            <% } %>
        </div>
    </div>
</div>
